<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
    <title>Simple Attendace</title>
    <%= favicon %>
    <%= stylesheet 'bootstrap' %>
    <%= javascript 'jquery2', 'bootstrap' %>
  </head>
  <body>
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#main-navbar" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <%= link_to 'Simple Attendace', '#', class: 'navbar-brand' %>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="main-navbar">
          <ul class="nav navbar-nav">
            <%# <li class="active"><a href="#">Link <span class="sr-only">(current)</span></a></li> %>
            <li><%= link_to 'Sign Up', routes.new_registration_path %></li>
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav> 

    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
