<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
    <title>Simple Attendace</title>
    <%= favicon %>
    <%= stylesheet 'bootstrap' %>
    <%= javascript 'jquery2', 'bootstrap' %>
  </head>
  <body>
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#main-navbar" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <%= link_to 'Simple Attendace', '#', class: 'navbar-brand' %>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="main-navbar">
          <ul class="nav navbar-nav">
            <% if logged_in? %>
              <li><%= link_to 'Logout', routes.session_path(id: current_user.id), 'data-method' => 'delete' %></li>
            <% else %>
              <li><%= link_to 'Sign Up', routes.new_registration_path %></li>
            <% end %>
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>

    <div class="alert alert-info alert-dismissable text-center" role="alert">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true"> &times; </span></button>
      <strong>Hallo</strong>
    </div>

    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
